*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cinza {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 31px;
    width: 1920px;
    background-color: #161616;
}
.profile {
    position: absolute;
    left: 1775.5px;
    top: 9px;
    width: 16px;
    height: 17px;
}
.help {
    position: absolute;
    left: 1816.5px;
    top: 9px;
    width: 16px;
    height: 17px;
}
.ea {
    position: absolute;
    left: 1854.5px;
    top: 9px;
    width: 27px;
    height: 17px;
}
.back-menu {
    position: absolute;
    left: 7%;
    top: 3%;
}
.vector1 {
    position: absolute;
    left: 119px;
    top: 3%;
}
.vector2 {
    position: absolute;
    left: 92%;
    top: 3%;
}
.logo-menor {
    position: absolute;
    left: 11%;
    top: 5%;
    height: 45px;
    color: white;
}
.about {
    font-family: 'Oxanium' , cursive;
    position: absolute;
    left: 20%;
    top: 6%;
    font-size: 18px;
    color: white;
}
.modes {
    font-family: 'Oxanium', cursive;
    position: absolute;
    left: 25%;
    top: 6%;
    font-size: 18px;
    color: white;
}
.season {
    font-family: 'Oxanium', cursive;
    position: absolute;
    left: 30%;
    top: 6%;
    font-size: 18px;
    color: white;
}
.battle {
    font-family: 'Oxanium', cursive;
    position: absolute;
    left: 35%;
    top: 6%;
    font-size: 18px;
    color: white;
}
.news {
    font-family: 'Oxanium', cursive;
    position: absolute;
    left: 42%;
    top: 6%;
    font-size: 18px;
    color: white;
}
.community {
    font-family: 'Oxanium', cursive;
    position: absolute;
    left: 50%;
    top: 6%;
    font-size: 18px;
    color: white;
}
.compete {
    font-family: 'Oxanium', cursive;
    position: absolute;
    left: 57%;
    top: 6%;
    font-size: 18px;
    color: white;
}
.botao-vermelho {
    position: absolute;
    top: 5%;
    left: 75%;
    height: 48px;
    width: 233px;
    background-color: #C83C35;;
}
.download {
    font-family: 'Oxanium', cursive;
    position: absolute;
    top: 62px;
    left: 1458px;
    color: white;
}
.logo-maior {
    width: 327.21px;
    height: 210.76px;
    position: absolute;
    top: 32%;
    left: 4%;
}
.personagem {
    position: absolute;
    left: 1156px;
    top: 167px;
    z-index: 1;
    
}
.logo-vermelho {
    position: absolute;
    left: 52.86%;
    top: 155px;
    z-index: 0;
}
.parte-logo {
    position: absolute;
    left: 53.4%;
    right: 28.63%;
    top: 86%;
    bottom: 8.98%;
    z-index: 2;
}
.plataformas {
    position: absolute;
    left: 88px;
    top: 57.7%;
    color: white;
    font-family: 'Oxanium', cursive;
    width: 600px;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}
.botao-play {
    position: absolute;
    left: 84px;
    top: 656px;
    width: 279.47px;
    height: 61.49px;
    background-color: rgba(0, 0, 0, 0.4);
}
.text-play {
    position: absolute;
    left: 140px;
    top: 673px;
    font-family: 'Oxanium' , cursive;
    font-size: 22px;
    color: white;
}
.Vector-branco {
    position: absolute;
    left: 150px;
    top: 655px;
}
.Vector-esquerdo {
    position: absolute;
    left: 276px;
    top: 656px;
}
.Vector-direito {
    position: absolute;
    left: 83px;
    top: 656px;
}
.laranja-play {
    position: absolute;
    width: 279px;
    height: 8.24px;
    left: 84.2px;
    top: 708.5px;
    background: #FB4F1F;
}
.botao-trailer {
    position: absolute;
    left: 390px;
    top: 656px;
    width: 279.47px;
    height: 61.49px;
    background-color: rgba(0, 0, 0, 0.4);
}
.text-trailer {
    position: absolute;
    left: 420px;
    top: 673px;
    font-family: 'Oxanium' , cursive;
    font-size: 22px;
    color: white;
    z-index: 1;
}
.vector-branco {
    position: absolute;
    left: 460px;
    top: 655px;
}
.vector-esquerdo {
    position: absolute;
    left: 582px;
    top: 656px;
    z-index: 0;
}
.vector-direito {
    position: absolute;
    left: 390px;
    top: 656px;
}
.laranja-trailer {
    position: absolute;
    width: 279px;
    height: 8.24px;
    left: 390px;
    top: 708.5px;
    background: #FB4F1F;
}